/* 
Student Name : Jagdeep Singh 
Student ID : c0932018
Term Project : Espresso Maker 
*/

/* training.css */

/* General styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    position: relative;
    min-height: 10vh;
}

nav {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    position: fixed;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
}

.logo {
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
    margin-right: 1em;
}

.logo a {
    text-decoration: none;
    color: #fff;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

nav ul li {
    margin-right: 1em;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
    /* Border style */
}

caption {
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px;
}

th,
td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    /* Background color for header cells */
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
    /* Alternating row color */
}

tbody tr:hover {
    background-color: #ddd;
    /* Highlight row on hover */
}

section {
    padding: 5vh 0;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

footer a {
    color: #fff;
}